*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav_container {
    max-width: 1400px;
    margin: 14px auto;
    padding: 0px 40px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}


.menu li {
    display: inline-block;
  }

.logo {
    width: 150px;
    height: auto;
}

nav ul {
    list-style: none;
}

.menu li {
    display: inline-block;
  }

nav ul li {
    font-family: sans-serif;
    font-size: 24dp;
    font-weight: 550;
    padding: 16px;
    transition: .2s ease-in-out all;
}

nav ul li a {
    text-decoration: none;
    color: #333333;
}

@media screen and (max-width: 768px) {
    /* CSS rules for smaller screens */
}